.container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-panel,
  .right-panel {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 0.5em;
  }

  .label {
    display: block;
    margin-bottom: 0.2em;
  }
  
  input {
    margin-bottom: 1em;
  }
  